@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400..600&display=swap');

$darkest: #53423c;
$dark: #84665c;
$medium: rgb(188, 147, 131);
$lightmedium: rgb(248, 221, 210);
$light: rgb(250, 228, 221);
$constrast: #007579;
$black: black;
$white: #ffffff;
$font: 'Dosis', sans-serif;