@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400..600&display=swap');

$dark: #714739;
$medium: rgb(188, 147, 131);
$lightmedium: rgb(248, 221, 210);
$light: rgb(252, 232, 226);
$constrast: #00878b;
$black: black;
$white: #ffffff;
$font: 'Dosis', sans-serif;