@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400..600&display=swap');

$dark: #53423c;
// $dark: #84665c;
$medium: rgb(168, 129, 113);
$lightmedium: rgb(207, 174, 161);
$light: rgb(241, 215, 207);
$constrast: #007579;
$black: black;
$white: #ffffff;
$font: 'Dosis', sans-serif;