@import '_variables.scss';


:root {}

body {
    background-color: $dark;
    font-family: $font;
    font-weight: 200;
    color: $white;

    li {
        list-style: none;

        a {
            color: $light;
        }
    }
}