@import '_variables.scss';


:root {
    img {
        height: 500px;
    }
}

body {
    display: flex;
    justify-content: space-between;
    background-color: $dark;
    font-family: $font;
    font-weight: 200;
    color: $white;

    li {
        list-style: none;

        a {
            color: $light;
        }
    }
}